<div class="container">
    <div class="row">
    
        <div class="col-md-6">
           <p> dd</p> 
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>Seat</p>
            <div class="container">
                <div class="row">
                    <div class="row"> 
                        <% for i in (1..4) do %>
                        <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row -->
        
                    <div class="row"> 
                        <% for i in (5..8) do %>
                            <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row !-->
                
                </div><!-- end of row -->
                
                    
            </div><!-- end of container -->

            <br>
            <br>
            <div>
                <p>Emergency Help</p>
                <% User.where(emergency_help: true).each do |x| %>
                    <p style="font-size: 10px"><%= x.name %></p>
                <% end %>
            </div>
            <!--
            emergency help people all
            !-->
        </div>  <!-- end of col-md-4 -->
        <div class="col-md-1"></div>
    </div>
</div>