<div class="container">
    <div class="row">
    
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1">
                </div><!--col-md-1 -->
                <div class="col-md-4">
                    <div class="question_list">
                        <% @questions.reverse_each do |q| %>
                            <div>
                                <span><p3>작성자:<%= q.user.name %></p3></span>
                                <div>
                                    <p1><%= q.text %></p1>
                                </div>
                            </div>
                            <hr>
                        <% end %>
                    </div>            
                </div><!--col-md-4 -->
                <div class="col-md-1">
                </div><!--col-md-1 -->
            
            </div><!--row-->
        </div><!--col-md-6 -->
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>Seat</p>
            <div class="container">
                <div class="row">
                    <div class="row"> 
                        <% for i in (1..4) do %>
                        <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row -->
        
                    <div class="row"> 
                        <% for i in (5..8) do %>
                            <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row !-->
                
                </div><!-- end of row -->
                
                    
            </div><!-- end of container -->

            <br>
            <br>
            <div>
                <p>Emergency Help</p>
                <% User.where(emergency_help: true).each do |x| %>
                    <p style="font-size: 10px"><%= x.name %></p>
                <% end %>
            </div>
            <!--
            emergency help people all
            !-->
        </div>  <!-- end of col-md-4 -->
        <div class="col-md-1"></div>
    </div>
</div>


<script>
$(document).ready(function() {
  setInterval(updateMessages, 1000);
  var last_id = <%= @last_id %>;

  function updateMessages() {
    $.ajax({
      method: "get",
      url: "/ta/update_ta_index_questions",
      data: {
        last_id: last_id
      },
      dataType: "json",
      success: function(data) {
        console.log(data);
        if (data.length != 0)
          last_id = data[data.length - 1].id;
        var str;
        for (var i = 0; i < data.length; i++) {
          var datum = data[i];
          console.log(datum.text);
          $(".question_list").prepend("<div><span><p3>작성자:" + datum.user_id + "</p3></span><div><p1>" + datum.text  + "</p1></div></div><hr>");
        }
        return;
      }
    });
  }
});
</script>
