<div class="container">
    <div class="row">
    
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1">
                </div><!--col-md-1 -->
                <div class="col-md-4">
                    <div class="question_list">
                        <% @questions.reverse_each do |q| %>
                            <div>
                                <span><p3>작성자:<%= q.user.name %></p3></span>
                                <div>
                                    <p1><%= q.text %></p1>
                                </div>
                            </div>
                            <hr>
                        <% end %>
                    </div>            
                </div><!--col-md-4 -->
                <div class="col-md-1">
                </div><!--col-md-1 -->
            
            </div><!--row-->
        </div><!--col-md-6 -->
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p>Seat</p>
            <div class="container">
                <div class="row">
                    <div class="row"> 
                        <% for i in (1..4) do %>
                        <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row -->
        
                    <div class="row"> 
                        <% for i in (5..8) do %>
                            <div class="col-md-1" style="display:inline-block">
                            <div class="box" seat_number= <%= i %> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                                <% User.where(seat_number: i).each do |x| %>
                                    <p style="font-size: 10px"><%= x.name %></p>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div><!-- end of row !-->
                
                </div><!-- end of row -->
                
                    
            </div><!-- end of container -->

            <br>
            <br>
            <div>
                <p>Emergency Help</p>
                <% User.where(emergency_help: true).each do |x| %>
                    <p style="font-size: 10px"><%= x.name %></p>
                <% end %>
            </div>
            <!--
            emergency help people all
            !-->
        </div>  <!-- end of col-md-4 -->
        <div class="col-md-1"></div>
    </div>
</div>

        
<script>
$(document).ready(function() {
    setInterval(getNewId, 1000);
    var getNewId = function() {
        $('.new_question').click(function(e) {
        const question_area = $('.question_area');
        alert('hi');
        e.preventDefault();
        $.ajax({
          method: "get",
          url: "/student/create_question",
          data: {
            content: question_area.val()
          },
          dataType: "json",
          success: function(data) {
            var str;
            console.log(data);
            str = ["<div><span><p3>작성자:",data.user_name,"</p3></span><div><p1>",data.text,"</p1></div></div><hr>"].join(" ");
            $('.question_list').append(str);
    		question_area.val("");
            return;
          }
        });
      });
    }
});
</script>
