<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
	  <% if user_signed_in? %>
			<span><%= current_user.email %>님 안녕하세요</span>
		  <%= link_to "로그아웃", destroy_user_session_path, method: "delete" %>
		<% else %>
		  <%= link_to "로그인", new_user_session_path %>
		  <span>|</span>	
		  <%= link_to "회원가입", new_user_registration_path %> 
		<% end %>
	
		<%= yield %>
	</center>

</body>
</html>
